@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ContentHeader {
    @RenderSection("ContentHeader", required: false)
}

<div class="row">
    <div id="content" class="span10">
        @RenderBody()
    </div>

    <div id="rightColumn" class="span2">
        @RenderSection("RightContent", required: false)
    </div>
</div>